/* Shared Styles */
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
    font-family: "Poppins", serif;
}

.container {
    max-width: 90%;
    margin: 0 auto;
}

.btn-primary {
    font-weight: 700;
    color: white;
    padding: 10px 24px;
    background-color: #E02C6D;
    border: 1px solid #E02C6D;
    cursor: pointer;
    transition: 0.5s;
}

section {
    margin: 50px 16px;
}

/* navbar styles */

.navbar, .navbar-right, .nav-links {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 34px;
}

.navbar {
    padding: 50px 0;
}

.logo {
    font-size: 24px;
    font-weight: 700;
    color: #3A3A3A;
}

.nav-item {
    list-style: none;
}

.nav-link {
    font-weight: 600;
    text-decoration: none;
    color: #3A3A3A;
}

.search-icon, .cart-icon, .hamburger-icon {
    font-size: 24px;
    color: black;
    cursor: pointer;
}

.hamburger-icon {
    display: none;
}


/* banner styles */

.banner {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.banner-content {
    max-width: 582px;
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.banner-title {
    font-size: 52px;
    font-weight: 700;
    color: #3A3A3A;
}

.banner-description {
    font-weight: 600;
    color: #3A3A3A;
}

.banner-content .btn-primary {
    border-radius: 40px;
}

.right-arrow-icon {
    margin-left: 5px;
}

.banner-content .btn-primary:hover {
    border: 1px solid #3A3A3A;
    color: #3A3A3A;
    background-color: transparent;
}

.banner-img {
    width: fit-content;
    background-image: url('../images/Circle design.svg');
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
}

.banner-img img {
    width: 100%;
}


/* sponsor styles */

.sponsors {
    display: flex;
    gap: 60px;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    padding: 40px 16px;
}

.sponsors img {
    width: 100%;
}

.section-title {
    font-size: 28px;
    font-weight: 600;
    color: #3A3A3A;
    line-height: 70px;
    margin-bottom: 30px;
    text-align: center;
}

.card-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(330px, 1fr));
    gap: 30px;
    align-items: center;
    justify-content: center;
}

.card {
    padding: 15px;
    border-radius: 5px;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
}

.card-img {
    border-radius: 5px;
}

.card-img img {
    border-radius: 5px;
    width: 100%;
}

.card-title {
    font: 28px;
    font-weight: 500;
    color: #18191F;
    line-height: 40px;
}

.price {
    font-size: 24px;
    font-family: "Inter", sans-serif;
    color: rgba(0, 0, 0, 0.87);
    margin-top: 10px;
}

.rating-box {
    display: flex;
    align-items: center;
    gap: 14px;
    margin: 5px 0 10px 0;
}

.stars-box {
    color: #FB8200;
}

.rating {
    font-size: 14px;
    font-weight: 700;
    font-family: "Roboto", Arial, Helvetica, sans-serif;
    color: #5E6366;
}

.card-description {
    font-size: 14px;
    font-weight: 700;
    color: #787885;
    font-family: "Inter", Arial, Helvetica, sans-serif;
}